# EditorConfig is awesome: https://EditorConfig.org

root = true

# Default for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf  # hoặc crlf, nhưng chọn một thôi
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Python: 4 spaces per convention
[*.py]
indent_size = 4

# Makefile requires tabs
[Makefile]
indent_style = tab
indent_size = 4

# Markdown: don't trim trailing spaces
[*.{md,mdx}]
trim_trailing_whitespace = false

# SQL: 4 spaces
[*.sql]
indent_size = 4

# C#: 4 spaces
[*.{cs,cshtml}]
indent_size = 4
